.aside{    
    @media (min-width: 992px) {
		padding-right: calc(1.2rem + 15px);
    }

    &__header {
		letter-spacing: 1px;
		font-size: $h1;
		font-weight: 700;
		line-height: 3.7rem;
		color: black;
        margin: 0;
        margin-bottom: 1.4rem;
		
		@media (min-width: 992px) {
			padding-left: 1.2rem; 
		}
	}
}
