.buy-button{
        padding: 5px 20px;
        display: inline-block;

        font-size: $h4;
        font-weight: 700;
        line-height: 3.8rem;
        letter-spacing: 0.1rem;
        background-color: $black;
        color: $white;

        cursor: pointer;
        transition: .2s;

        &:hover{
            background-color: $red;
        }

        i{
            margin-right: 15px;
            margin-bottom: -3px;
        }
      
    }