.product-preview {
    color: $white;
    font-size: 1.3rem;
    margin-bottom: 3rem;

    &__image-container {
        overflow: hidden;
    }

    &__image {
        height: 16rem;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.15s ease-out;

        @media (max-width: 1200px){
            height: 21rem;
        }
        @media (max-width: 991px){
            height: 26rem;
        }
        @media (max-width: 767px){
            height: 40rem;
        }
        @media (max-width: 500px){
            height: 26rem;
        }

        &--smaller{
            @media (max-width: 1300px){
                height: 13rem;
            }
            @media (max-width: 991px){
                height: 16rem;
            }
            @media (max-width: 767px){
                height: 20rem;
            }
        }
    }

    &__description {
        width: 100%;
        min-height: 6.8rem;
        padding: 1rem 1.6rem;
        font-size: 1.3rem;
        line-height: 2.5rem;
        background: $white;
        color: $black;
        transition: all 0.15s ease-out;
    }

    &__price {
        color: $red !important;
        font-weight: 700;
        font-size: $base-font-size;

        display:flex;
        justify-content: space-between;
        white-space:nowrap;
    }

    &__discount{
        margin-bottom: 0;
        position:relative;
        white-space:nowrap;

        &:before {
            content:'';
            background:transparent url('../images/sleva.png') center center no-repeat;
            background-size:contain;
            width:25px;
            height:25px;
            position:absolute;
            bottom:20px;
            right:2px;
        }
        display:none;
    }

    &__code {
        text-transform: uppercase;
        color: $black;
        font-size: $base-font-size;
    }

    &__available {
        font-weight: bold;
        color: $success;
    }

    &__header {
        color: $black;
        text-transform: uppercase;
        font-size: $h5;
        font-weight: 700;
        min-height: 50px;
    }

    &:hover {
        cursor: pointer;

        .product-preview__image {
            transform: scale(1.1);
        }

        .product-preview__description {
            background-color: $black;
        }
    }

    &:hover * {       
        color: white;
    }
    .discount-icon {
        width:40px;
        height:40px;
        position:relative;
        left:15px;
        top:10px;

        &.type-discount {
            background:transparent url('../images/Sleva2.png') center center no-repeat;
            background-size:contain;
        }
        &.type-action {
            background:transparent url('../images/Akce.png') center center no-repeat;
            background-size:contain;
        }
        &.type-selloff {
            background:transparent url('../images/Vyprodej.png') center center no-repeat;
            background-size:contain;
        }
    }
}