.search-bar {
    margin-top: -0.5rem;

    @media (max-width: 767px){
        width: 100%; // for flex spread
        margin-bottom: 1.5rem;
    }

    &__input {
        @media (min-width: 767px){
            width: 148px; // for flex spread
        }
        @media (min-width: 992px){
            width: 200px; // for flex spread
        }
        display: flex;
        padding: 0 1rem;
        height: 3rem;
        border: 0;
        border: 1px solid #ccc;         
        font-weight: 600;
        outline: none;                
    }
}